.metadata
.log
.idea
.gradle
.project
.classpath
.DS_Store
*.rdb
*.iml
*.ipr
*.iws
*.class
*.out

local*.properties
proxy.txt
proxyState
dependency-reduced-pom.xml

dist

*\bin
*\nbproject
*\.springBeans
*\.gradle
*\build
*\log\*.log
*\log\*.log.*
*.log
*.log.*
.\out\*

*/bin
*/nbproject
*/.springBeans
*/.gradle
*/build

*/log/*.log
*/log/*.log.*
./out/*
mailing.log

target/

*:bin
*:.springBeans
*:.gradle
*:build
*:log:*.log
*:log:*.log.*
out:*

*/.settings
*\.settings
*.pyc
hydra.lock
.vagrant
Hydra/storage/
Hydra/lanit/
Hydra\hydra-site-cheb.page.json
Hydra/site-settings.json
com.srg.profile.builder/outresale/
com.srg.profile.builder/outchalet/
com.srg.profile.builder\outnewbuilding\gdeetotdom.ru\56430f92e4b05c24a76d386c.html
com.srg.profile.builder\outnewbuilding\gdeetotdom.ru\56430f92e4b05c24a76d386b.html
com.srg.profile.builder/outnewbuilding/
screenshoter_tools/venv/
screenshoter/screenshoter-loadtest/venv/
